<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deviating from Attending Exhibition in person, Creating New Norms of Business Matching through Online!">
    <!-- vue-->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>NILE BEAUTY</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://beauty.nile.inc/"><img src="../assets/img/nile-beauty-logo.png" alt="NILE" height="20"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page" href="../index.html">ENG</a>
          <a class="nav-link active" href="jp/index.html">JP</a>
          <a class="nav-link" href="../es/index.html">ESP</a>
          <a class="nav-link" href="../fr/index.html">FRA</a>
          <a class="nav-link" href="../cn/index.html">CN</a>
        </div>
      </div>
    </div>
  </nav>


    <div class="jumbotron">
        <div class="container">
            <div class="logo-area">
                <h1><img src="../assets/img/nile-beauty-logo.png" alt="NILE" class="img-fluid"></h1>
            </div>
        </div>
    </div>
    <div id="main">
        <section class="section02">
          <div class="container">
            <div class="text">
              <h2>ニューノーマルな時代に一石を投じる<br>
                全てオンラインで実現する<br>
                新・ビジネスマッチングサービス始動！</h2>
              <h2 class="mt-5"><mark class="p-3 text-uppercase text-white">スマホ一つで全完結！</mark></h2>
            </div>
          </div>
        </section>

        <section class="section03">
            <div class="container">
              <h6 class="lh-lg">NILE BEAUTYは<br><mark class="text-white"><strong><span> 24時間365日時差関係なく</span></strong></mark><strong>世界中の企業と<br class="br-on-jp">ビジネスマッチングできる新しいサービスです。</strong></h6>
            </div>
           
              
        </section>


        <section class="section04">
          <div class="container">
            <div class="section04-contents col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 text">
              <h2>NILE BEAUTYについて</h2>
              <button type="button" class="btn btn-video" data-bs-toggle="modal" data-bs-target="#exampleModal">
                紹介動画を視聴する
              </button>
            </div>
          </div>
           <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About NILE BEAUTY</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  
              </div>
              <div class="modal-body">
               <!-- 2021/11/11 動画リンクの差し替え -->
               <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jVtl2kRIXls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </section>


       

        <section class="section05">
           <div class="container">
            <div class="section05-contents col-lg-10 offset-lg-1 col-md-12 col-sm-12">
              

              <div class="text row" data-aos="zoom-in">
                <div class="image col-lg-3 col-md-3 col-sm-4 col-3 order-lg-1 order-md-1 order-sm-2 order-2">
                  <img src="../assets/img/holding-iphone.png" alt="iphone image" class="img-fluid">
                </div>
                
                  <div class="text col-lg-9 col-md-9 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-1 order-1">
                    <h2>スペシャルキャンペーン実施中！！</h2>

                
                  <p>NILEグランドオープンは<strong class="emphasis">2021年9月1日</strong>から、<br class="br-on-jp">
                  <strong> 2022年3月31日まで</strong><br class="br-on-jp"><strong>最高3500ドル</strong>無料でご利用いただけます！</p>

                    <p><strong>さらに！</strong><br>
                        出展企業としてご登録→<strong class="emphasis">10枚チケットを配布</strong><br>
                        商談企業としてご登録→<strong class="emphasis">5枚チケットを配布</strong><br>
                        （チケットがあれば簡単に商談することができます）</p>

                  <p><strong>【期間限定】</strong> 2022年3月31日まで!</p>
                  
                  <p>このチャンスをお見逃しなく。
                    <strong>ぜひお早めにご登録ください。</strong></p>
                  <a href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">登録はこちら！</a>
                  </div>
              </div>
            </div>
           </div>

           
        </section>
       

        <section class="section06">

            <div class="container">
              <div class="section06-text p-0" id="app-jp">
                <h4>NILEであなたが実現できること</h4>

                <!-- <h5 data-aos="fade-up">You will be able to cut time and costs at Exhibitions</h5>
                <p class="top" data-aos="fade-up">Only costs in NILE are the bargain-priced <strong>Exhibition Fee</strong>, and the <strong>Negotiation Chat Fee</strong>.</p>
                <hr> -->
                
                <!-- <h5 data-aos="fade-up">2. Match with companies across the globe.</h5> -->

               <div class="row">
                <div class="col-lg-3 col-sm-6 mb-3" v-for="capability in capabilities">
                  <div class="card h-100" data-aos="zoom-right">
                    <img :src="capability.image" alt="exhibition" class="img-fluid">
                    <div class="card-body">
                      <p class="card-text smaller"><strong>{{ capability.number }}. </strong>{{ capability.text }} </p>
                    </div>
                  </div>
                </div>
                
               </div>

                <hr>

                

                <p data-aos="zoom-in"><strong>5. </strong>NILEに出展（Exhibitor）すれば企業情報、商品情報、たくさんのコンテンツ記事を登録企業に配信することができます（出展企業だけの機能）</p>
                <p data-aos="zoom-in"><strong>6. </strong>NILEに商談企業（Negotiator）として登録すれば、出展企業の情報をいつでも気軽に見る、集める、話すことができます。</p>
                <p data-aos="zoom-in"><strong>7. </strong>紹介・招待システムあり。お知り合いの企業をサイトに招待・登録していただくと、無料商談チケットをプレゼント。</p>
                <a href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">登録はこちら！</a>
              </div>

            
            </div>

        </section>



        <section class="section07">
            
            <div class="container" id="new-jp">
              <h2 class="mb-3">You can start easily with NILE.</h2>
                <div class="row col-xl-10 offset-xl-1 col-lg-12 col-md-12">
                  <div class="col-lg-4 col-md-4 section07-area1" v-for="accomplish in accomplishments">
                    <div class="inner-wrapper">
                      <div class="section07-area2">
                        {{accomplish.task}} 
                    </div>
                    <div class="img">
                        <img :src="accomplish.image" alt="image" class="img-fluid">
                        <div class="img-text">
                            <p>{{accomplish.solution}}</p>
                        </div>
                    </div>
                    </div>
                  </div>
                    
                   
                    
                </div>

                <p class="text-center my-3 small">* これらは、これまでのサービスが直面してきた課題です。</p>
            </div>
        </section>
        <section class="section08">
            <div class="container">
              <div class="section08-01">
                <h2 data-aos="fade-right">NILE７つの特徴</h2>
  
              <ol>
                  <li data-aos="fade-right">国内外の展示会にかかっていた時間やコストをカットすることができます。</li>
                  <li data-aos="fade-right">世界中の人・企業とビジネスマッチングすることができます。 </li>
                  <li data-aos="fade-right">商談用チャット機能が利用できます。専用のスタンプもあるので、気軽にやり取りができます。</li>
                  <li data-aos="fade-right">多言語機能により他国の企業との商談もスムーズに行えます（英語・フランス語・スペイン語・中国語・日本語）。</li>
                  <li data-aos="fade-right">NILEに出展（Exhibitor）すれば企業情報、商品情報、たくさんのコンテンツ記事を登録企業に配信することができます（出展企業だけの機能）。</li>
                  <li data-aos="fade-right">NILEに商談企業（Negotiator）として登録すれば、出展企業の情報をいつでも気軽に見る、集める、話すことができます。</li>
                  <li data-aos="fade-right">紹介制度を利用すると、お知り合いの企業をサイトに招待・登録していただくだけで、無料商談チケットがGETできます。 </li>
              </ol>

              
  
              <div>
                  <a class="btn btn-primary" href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller">登録はこちら！</a>
              </div>
              </div>
            </div>
        </section>


        <section class="section09">
            <h2 class="text-center">NILE B2Bマッチングオンラインサービス</h2>
            <div class="container">

              <div class="section09-01">
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img01.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">1. Register</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img02.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">2. Browse</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img03.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">3. View/Meet</h3></div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img04.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">4. Match</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img05.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">5. Start Chat</h3></div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-8 col-md-8 col-sm-8 col-8" data-aos="fade-right">
                    <h4 class="display-1"><i><i class="fas fa-caret-down"></i></i></h4>
                    <div class="card success">
                      <img src="../assets/img/img06.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title2 text-uppercase">Success</h3></div>
                    </div>
                  </div>
                </div>

                <!-- 他の言語には入っていない -->
                <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1">
                    <p class="p-3">
                        NILEは、企業、商品、コンテンツ記事などの情報を通して、「企業と企業」や、「企業と個人」が出会う場所をオンラインで創出でき、費用・コストを大幅に軽減しながらビジネスマッチングの成約率を高めます。
                    </p>
                </div>
              </div>


            </div>
        </section>
        

        <!-- Price -->
        <section class="section11">
            <div class="section11-01 container">
                <div class="row text-center align-items-end">
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold viewer">閲覧ユーザー</h1>
                       
              
                        <div class="custom-separator viewer my-4 mx-auto"></div>
              
                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>閲覧する</dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>商談スタート</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>商談チケット</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>紹介システム</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>記事を投稿する</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>広告</del></dd>
                        </dl>
                        <!-- <p>&nbsp;</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
              
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold negotiator">商談企業</h1>
                        
              
                        <div class="custom-separator negotiator my-4 mx-auto"></div>
              
                        

                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>閲覧する</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>商談スタート</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>商談チケット</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>紹介システム</dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>記事を投稿する</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>広告</del></dd>
                        </dl>
                        <!-- <p>&nbsp;</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
              
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold exhibitor">出展企業</h1>
                        
              
                        <div class="custom-separator exhibitor my-4 mx-auto"></div>
              
 

                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>閲覧する</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>商談スタート</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>商談チケット</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>紹介システム</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>記事を投稿する</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>広告</dd>
                        </dl>
                        <!-- <p class="plus">You can use all features with this plan!</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
                </div>


                <!-- Exhibitorだともっとできる -->
                <div class="price-list mt-5 text-center">

                  <div class="row no-gutters g-0">
                    <div class="title-blank col-lg-4 col-md-4 col-sm-4"></div>
                    <div class="title col-lg-4 col-md-4 col-sm-4 col-6">費用</div>
                    <div class="title col-lg-4 col-md-4 col-sm-4 col-6">ベネフィット</div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="exhibitor col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">出展企業向けプラン</div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">月払い</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$500</em></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">商談チケット10枚無料 <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">半年払い</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$2400</em></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">商談チケット30枚無料 <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">年払い</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$3600</em></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">商談チケット50枚無料* <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="negotiator col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">商談チケットについて</div></div>
                  </div>

                  <div class="row price-list-body g-0 negotiation-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">チケット5枚</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">$5<br><span>1枚あたり1ドル</span></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                  </div>

                  <div class="row price-list-body g-0 negotiation-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">チケット11枚</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">$10<br><span></span></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                  </div>
                
                </div>

                <div class="register col-lg-6 col-md-8 col-sm-12">
                  <h5 class="mb-3"><strong><u>2022年3月31日まで当サービスをご利用いただけます！</u></strong></h5>
                  <p class="text-primary">2021年9月1日～2022年3月31日まで有効</p>
                  <p><u><span>*</span>無料期間終了後に商談用チケットが自動的に配布されます<br>（出展企業は月額費用が発生します）</u></p>
                  
                  <a href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">ご登録はこちら！</a>
                </div>
            </div>
        </section>

        <section class="section12">
          <div class="section12-01 container">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
              <ul>
                <li>簡単にすぐスタート</li>
                <li>24時間365日いつでもビジネスマッチング</li>
                <li>全てスマホ一つで完結</li>
              </ul>
              
            </div>
          </div>
        </section>

        <section class="section13">
          <div class="container">
            <h2 class="text-center mb-5">ご登録の流れ</h2>
              <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>1. アカウント種別を選択</h3>
                    <p class="px-2">閲覧ユーザー・商談企業・出展企業よりお選びください。</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>2. メールアドレス登録・パスワード設定</h3>
                    <h6 class="text-center"><u>閲覧ユーザー</u></h6>
                    <p>メールアドレスの認証なしでも閲覧することができます。<br>
                        ただし全ての機能を利用するためには初めに認証が必要です。</p>
                    <h6 class="text-center"><u>商談企業・出展企業</u></h6>
                    <p>企業情報をご入力ください。</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>3. メールアドレス確認</h3>
                    <p class="px-2">メールアドレスに間違いがないかご確認ください。</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>4. 記事の投稿</h3>
                    <p class="px-2">アカウントの承認が完了次第、企業情報、商品情報、そして記事を作成・投稿することができます(商品情報、記事は出展企業のみ)。</p>
                  </div>
                </div>
              </div>

              <!-- <p class="text-center mt-5 details"><span><a href="https://if-intense.github.io/nile-help/">Click Here</a> to See More in Details</span></p> -->
              <div class="text-center my-2">
                <a href="https://beauty.nile.inc/en/about" class="btn btn-warning">詳細はこちら！</a>
              </div>
          </div>
        </section>

        <section class="section10">
          <div class="container">
            <h2><span>NILE の由来</span></h2>
            <h3>ナイル川<br><span>世界最長の川</span></h3>
            <h5>新たなマッチングプラットフォームを提供し、<span>長く続くビジネスを創出したい</span><br>という意味を込めて、「NILE」と名付けました。</h5>
          <!-- <h5>Providing the platform to have Business Matching, being able to create <span>long-lasting business deals</span>.</h5> -->
          </div>

      </section>
    
    
        
    
    </div>

    <footer>
      <div class="container">
      <ul>
        <li><i class="far fa-envelope"></i> CONTACT</li>
        <li>Privacy & Policy</li>
        <li>Terms of Service</li>
        <li><a href="https://beauty.nile.inc/"><img src="../assets/img/nile-logo-white.png" alt="NILE" height="14"></a></li>
      </ul>
     <p>© 2021 INVADE Co., Ltd.</p>
      </div>
    </footer>

    
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../assets/js/app.js"></script>
<script>
  AOS.init();
</script>
</html>