<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deviating from Attending Exhibition in person, Creating New Norms of Business Matching through Online!">
    <!-- vue-->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>NILE BEAUTY</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://beauty.nile.inc/"><img src="../assets/img/nile-beauty-logo.png" alt="NILE" height="20"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="../index.html">ENG</a>
          <a class="nav-link" href="../jp/index.html">JP</a>
          <a class="nav-link" href="../es/index.html">ESP</a>
          <a class="nav-link" href="../fr/index.html">FRA</a>
          <a class="nav-link active" aria-current="page" href="../cn/index.html">CN</a>
        </div>
      </div>
    </div>
  </nav>


    <div class="jumbotron">
        <div class="container">
            <div class="logo-area">
                <h1><img src="../assets/img/nile-beauty-logo.png" alt="NILE" class="img-fluid"></h1>
            </div>
        </div>
    </div>
    <div id="main">
        <section class="section02">
          <div class="container">
            <div class="text">
             
              <h2>跳过现场参展的局限，<br>进而打造线上业务适配全新常态</h2>
              <h2 class="mt-5"><mark class="p-3 text-uppercase text-white">一切尽在您的指尖！</mark></h2>
            </div>
          </div>
        </section>

        <section class="section03">
            <div class="container">
              <!-- NILE “业务匹配”服务，全年无休，全天候提供，让您无需担心时区差异。 -->
              <h6 class="lh-lg">NILE BEAUTY<br><strong>“业务匹配”服务</strong> <mark class="text-white"><strong><span>全年无休，全天候提供，</span></strong></mark> 让您无需担心时区差异。</h6>
            </div>
              
        </section>


        <section class="section04">
          <div class="container">
            <div class="section04-contents col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 text">
              <h2>关于 NILE BEAUTY</h2>
              <button type="button" class="btn btn-video" data-bs-toggle="modal" data-bs-target="#exampleModal">
                观看介绍视频
              </button>
            </div>
          </div>
           <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">关于 NILE BEAUTY</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- 2021/11/11 動画リンクの差し替え -->
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jVtl2kRIXls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </section>


       

        <section class="section05">
           <div class="container">
            <div class="section05-contents col-lg-10 offset-lg-1 col-md-12 col-sm-12">
              

              <div class="text row" data-aos="zoom-in">
                <div class="image col-lg-3 col-md-3 col-sm-4 col-3 order-lg-1 order-md-1 order-sm-2 order-2">
                  <img src="../assets/img/holding-iphone.png" alt="iphone image" class="img-fluid">
                </div>
                
                  <div class="text col-lg-9 col-md-9 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-1 order-1">
                    <h2>“0”元试用！</h2>

                <!-- 随着该服务在2021年9月1日正式推出，我们将开展 NILE 免费使用的促销活动，为期长达4个月！ -->
                <p>随着该服务在<strong>2021年9月1日</strong> 正式推出，我们将开展 NILE <strong class="emphasis">免费使用的促销活动，</strong>直到<strong class="emphasis">2022年3月31日</strong></p>
                  <!-- 您即将免费享用到价值 2000 美元的产品！！ -->
                  <p>您最多可以免费使用价值 <strong class="emphasis">3500 美元的产品！！ </strong></p>
                  <!-- 此外，我们将为您提供 10 张参展商免费门票和 5 张谈判代表免费门票。 -->
                  <p>此外，我们将为您提供 <strong class="emphasis">10 张参展商免费门票</strong> 和 <strong class="emphasis">5 张谈判代表免费门票。</strong></p>
                  <!-- 有效期至：2021年12月31日 -->
                  <p><strong>有效期至：</strong> 2022年3月31日</p>
                  <!-- 立即注册，千万不要错过机会！ -->
                  <p>立即注册， <strong>千万不要错过机会！</strong></p>
                  <a href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">立即注册</a>
                  </div>
              </div>
            </div>
           </div>

           
        </section>
       

        <section class="section06">

            <div class="container">
              <div class="section06-text p-0" id="app-ch">
                <h4>通过 NILE，您可以...</h4>

                <!-- <h5 data-aos="fade-up">You will be able to cut time and costs at Exhibitions</h5>
                <p class="top" data-aos="fade-up">Only costs in NILE are the bargain-priced <strong>Exhibition Fee</strong>, and the <strong>Negotiation Chat Fee</strong>.</p>
                <hr> -->
                
                <!-- <h5 data-aos="fade-up">2. Match with companies across the globe.</h5> -->

               <div class="row">
                <div class="col-lg-3 col-sm-6 mb-3" v-for="capability in capabilities">
                  <div class="card h-100" data-aos="zoom-right">
                    <img :src="capability.image" alt="exhibition" class="img-fluid">
                    <div class="card-body">
                      <p class="card-text smaller"><strong>{{ capability.number }}. </strong>{{ capability.text }} </p>
                    </div>
                  </div>
                </div>
                
               </div>

                <hr>

                

                <p data-aos="zoom-in"><strong>5. </strong>通过成为参展商，您可发布文章、产品/公司信息。</p>
                <p data-aos="zoom-in"><strong>6. </strong>通过成为谈判代表，您可查看参展商的信息。</p>
                <p data-aos="zoom-in"><strong>7. </strong>通过推荐的方式，您可额外获得门票。</p>
                <a href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">立即注册</a>
              </div>

            
            </div>

        </section>



        <section class="section07">
            
            <div class="container" id="new-ch">
              <h2 class="mb-3">有了 NILE 后，一切都变得很简单。</h2>
                <div class="row col-xl-10 offset-xl-1 col-lg-12 col-md-12">
                  <div class="col-lg-4 col-md-4 section07-area1" v-for="accomplish in accomplishments">
                    <div class="inner-wrapper">
                      <div class="section07-area2">
                        {{accomplish.task}} 
                    </div>
                    <div class="img">
                        <img :src="accomplish.image" alt="image" class="img-fluid">
                        <div class="img-text">
                            <p>{{accomplish.solution}}</p>
                        </div>
                    </div>
                    </div>
                  </div>
                    
                   
                    
                </div>

                <p class="text-center my-3 small">* 这些是该服务试图完成的任务。</p>
            </div>
        </section>
        <section class="section08">
            <div class="container">
              <div class="section08-01">
                <h2 data-aos="fade-right">使用 NILE，您将能够...</h2>
  
              <ol>
                  <li data-aos="fade-right">节省国内和国际展览所消耗的时间和成本。</li>
                  <li data-aos="fade-right">与全球其他公司进行匹配。</li>
                  <li data-aos="fade-right">通过聊天功能进行交谈和磋商。配备有专属表情包，让您的聊天氛围变得更轻松。</li>
                  <li data-aos="fade-right">NILE支持多种语言（英语、法语、西班牙语、中文、日语），让您可与外商顺畅地进行谈判。</li>
                  <li data-aos="fade-right">若您的身份为参展商，则请向注册公司发布许多文章、产品信息和公司信息。</li>
                  <li data-aos="fade-right">若您的身份为谈判公司，则请及时查看参展商的信息。</li>
                  <li data-aos="fade-right">若您将本服务介绍给其他公司，则可额外获得免费门票。 </li>
              </ol>

              
  
              <div>
                  <a class="btn btn-primary" href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller">立即注册</a>
              </div>
              </div>
            </div>
        </section>


        <section class="section09">
            <h2 class="text-center">NILE 是 B2B 在线匹配服务</h2>
            <div class="container">

              <div class="section09-01">
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img01.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">1. 注册</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img02.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">2. 浏览</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img03.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">3. 查看/连线</h3></div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img04.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">4. 匹配</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="../assets/img/img05.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">5. 开始聊天</h3></div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-8 col-md-8 col-sm-8 col-8" data-aos="fade-right">
                    <h4 class="display-1"><i><i class="fas fa-caret-down"></i></i></h4>
                    <div class="card success">
                      <img src="../assets/img/img06.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title2 text-uppercase">成功</h3></div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
        </section>
        

        <!-- Price -->
        <section class="section11">
            <div class="section11-01 container">
                <div class="row text-center align-items-end">
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold viewer">观看者</h1>
                       
              
                        <div class="custom-separator viewer my-4 mx-auto"></div>
              
                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>观看</dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>开始磋商</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>谈判门票</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>推荐机制</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>发布文章</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>打广告</del></dd>
                        </dl>
                        <!-- <p>&nbsp;</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
              
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold negotiator">谈判代表</h1>
                        
              
                        <div class="custom-separator negotiator my-4 mx-auto"></div>
              
                        <!-- <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> View</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 开始磋商</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 谈判门票</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 推荐机制</li>
                          <li class="mb-3 text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>发布文章</del>
                          </li>
                          <li class="mb-3 text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>打广告</del>
                          </li>
                        </ul> -->

                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>观看</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>开始磋商</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>谈判门票</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>推荐机制</dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>发布文章</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>打广告</del></dd>
                        </dl>
                        <!-- <p>&nbsp;</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
              
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold exhibitor">参展商</h1>
                        
              
                        <div class="custom-separator exhibitor my-4 mx-auto"></div>
              
                        <!-- <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> View</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 开始磋商</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 谈判门票</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 推荐机制</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 发布文章</li>
                          
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> 打广告</li>
                        </ul> -->

                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>观看</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>开始磋商</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>谈判门票</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>推荐机制</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>发布文章</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>打广告</dd>
                        </dl>
                        <!-- <p class="plus">You can use all features with this plan!</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
                </div>


                <!-- Exhibitorだともっとできる -->
                <div class="price-list mt-5 text-center">

                  <div class="row no-gutters g-0">
                    <div class="title-blank col-lg-4 col-md-4 col-sm-4"></div>
                    <div class="title col-lg-4 col-md-4 col-sm-4 col-6">价格</div>
                    <div class="title col-lg-4 col-md-4 col-sm-4 col-6">优势</div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="exhibitor col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">参展商计划</div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">月度计划</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$500</em></div></div>
                    <!-- 10 张免费谈判门票* -->
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">10 Free<br>谈判门票 <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">半年度计划</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$2400</em></div></div>
                    <!-- 30 张免费谈判门票* -->
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">30 Free<br>Negotiation Tickets <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">年度计划</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$3600</em></div></div>
                    <!-- 50 张免费谈判门票* -->
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">50 Free<br>Negotiation Tickets <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="negotiator col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">对于谈判代表</div></div>
                  </div>

                  <div class="row price-list-body g-0 negotiation-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">谈判门票（5 张）</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">1 美元<br><span>1 美元/张</span></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                  </div>

                  <div class="row price-list-body g-0 negotiation-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">谈判门票（11 张）</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">10 美元<br><span>10 张 + 1 张免费</span></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                  </div>
                
                </div>

                <div class="register col-lg-6 col-md-8 col-sm-12">
                  <h5 class="mb-3"><strong><u>您可以在2022年3月31日您将可免费使用此服务!</u></strong></h5>
                  <p class="text-primary">有效期为2021年9月1日至2022年3月31日</p>
                  <p><u><span>*</span>您将能够在初始免费期过后收到门票。</u></p>
                  
                  <a href="https://beauty.nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">立即注册!</a>
                </div>
            </div>
        </section>

        <section class="section12">
          <div class="section12-01 container">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
              <ul>
                <li>使用便捷！</li>
                <li>随时随地使用！</li>
                <li>一切尽在您的指尖！</li>
              </ul>
              
            </div>
          </div>
        </section>

        <section class="section13">
          <div class="container">
            <h2 class="text-center mb-5">如何注册？</h2>
              <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>1.选择您的身份</h3>
                    <p class="px-2">从观看者/谈判代表/参展商中选择</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>2.输入邮箱地址并创建密码</h3>
                    <h6 class="text-center"><u>观看者</u></h6>
                    <p>无需验证即可查看，但无法使用所有功能</p>
                    <h6 class="text-center"><u>谈判代表/参展商</u></h6>
                    <p>输入公司信息</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>3.邮件确认</h3>
                    <p class="px-2">务必对邮件进行确认。</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>4.发布文章</h3>
                    <p class="px-2">通过确认，您将可发布文章、产品、公司信息。</p>
                  </div>
                </div>
              </div>

              <!-- <p class="text-center mt-5 details"><span><a href="https://if-intense.github.io/nile-help/">Click Here</a> to See More in Details</span></p> -->
              <div class="text-center my-2">
                <a href="https://beauty.nile.inc/en/about" class="btn btn-warning">点击此处查看更多细节</a>
              </div>
          </div>
        </section>

        <section class="section10">
          <div class="container">
            <h2><span>名字背后的故事</span></h2>
            <h3>尼罗河（NILE RIVER）<br><span>世界上最长的河流</span></h3>
            <!-- 提供平台进行业务匹配，能够创建持久的业务往来。 -->
          <h5>Providing the platform to have Business Matching, being able to create <span>long-lasting business deals</span>.</h5>
          </div>

      </section>
    
    
        
    
    </div>

    <footer>
      <div class="container">
      <ul>
        <li><i class="far fa-envelope"></i> CONTACT</li>
        <li>Privacy & Policy</li>
        <li>Terms of Service</li>
        <li><a href="https://beauty.nile.inc/"><img src="../assets/img/nile-logo-white.png" alt="NILE" height="14"></a></li>
      </ul>
     <p>© 2021 INVADE Co., Ltd.</p>
      </div>
    </footer>

    
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../assets/js/app.js"></script>
<script>
  AOS.init();
</script>
</html>