<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deviating from Attending Exhibition in person, Creating New Norms of Business Matching through Online!">
    <!-- vue-->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>NILE</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://nile.inc/"><img src="../assets/img/nile-logo.png" alt="NILE" height="20"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="../index.html">ENG</a>
          <a class="nav-link" href="../jp/index.html">JP</a>
          <a class="nav-link active" aria-current="page" href="../es/index.html">ESP</a>
          <a class="nav-link" href="../fr/index.html">FRA</a>
          <a class="nav-link" href="../cn/index.html">CN</a>
        </div>
      </div>
    </div>
  </nav>


    <div class="jumbotron">
        <div class="container">
            <div class="logo-area">
                <h1><img src="../assets/img/nile-logo.png" alt="NILE" class="img-fluid"></h1>
            </div>
        </div>
    </div>
    <div id="main">
        <section class="section02">
          <div class="container">
            <div class="text">
              <h2>Apartarse de la asistencia presencial a la exposición, crear nuevas normas de emparejamiento comercial a través de Internet</h2>
              <p class="mt-5"><mark class="p-3 text-uppercase text-white">¡TODO AL ALCANCE DE SU MANO!</mark></p>
            </div>
          </div>
        </section>

        <section class="section03">
            <div class="container">
                
              <h6 class="lh-lg">NILE<br>es el servicio de <strong>"emparejamiento empresarial"</strong>,  <mark class="text-white"><strong><span>DISPONIBLE 24 HORAS AL DÍA, TODOS LOS DÍAS DE LA SEMANA Y DURANTE TODO EL AÑO, </span></strong></mark> sin preocuparse por la diferencia de husos horarios.</h6>
            </div>
              
        </section>


        <section class="section04">
          <div class="container">
            <div class="section04-contents col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 text">
              <h2>Acerca de NILE</h2>
              <button type="button" class="btn btn-video" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ver el vídeo de presentación
              </button>
            </div>
          </div>
           <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About NILE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </section>


       

        <section class="section05">
          <div class="container">
           <div class="section05-contents col-lg-10 offset-lg-1 col-md-12 col-sm-12">
             

             <div class="text row" data-aos="zoom-in">
               <div class="image col-lg-3 col-md-3 col-sm-4 col-3 order-lg-1 order-md-1 order-sm-2 order-2">
                 <img src="../assets/img/holding-iphone.png" alt="iphone image" class="img-fluid">
               </div>
               
                 <div class="text col-lg-9 col-md-9 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-1 order-1">
                   <h2>¡PROMOCIÓN GRATUITA!</h2>
                    
               <p><strong>El 1 de septiembre de 2021</strong> es el comienzo de este servicio, ¡y lanzamos la promoción gratuita para usar NILE <strong class="emphasis">GRATIS</strong> hasta <strong class="emphasis">4 meses!</strong></p>
                 <p>¡Podrá usar <strong class="emphasis">1700 € GRATIS!</strong></p>
                     
                 <p>Además, le daremos <strong class="emphasis">10 tickets gratuitos</strong> como expositor y <strong class="emphasis">5 tickets gratuitos</strong> como negociador.</p>
                  
                 <p><strong>Fecha de caducidad:</strong> 31 de marzo de 2022</p>
                  
                 <p>¡Regístrese ahora y <strong>no pierda la oportunidad!</strong></p>
                 <a href="https://nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">Regístrese ahora</a>
                 </div>
             </div>
           </div>
          </div>

          
       </section>
      

       <section class="section06">

           <div class="container">
             <div class="section06-text p-0" id="app-es">
               <h4>Con NILE, puede:</h4>

               <!-- <h5 data-aos="fade-up">You will be able to cut time and costs at Exhibitions</h5>
               <p class="top" data-aos="fade-up">Only costs in NILE are the bargain-priced <strong>Exhibition Fee</strong>, and the <strong>Negotiation Chat Fee</strong>.</p>
               <hr> -->
               
               <!-- <h5 data-aos="fade-up">2. Match with companies across the globe.</h5> -->

              <div class="row">
               <div class="col-lg-3 col-sm-6 mb-3" v-for="capability in capabilities">
                 <div class="card h-100" data-aos="zoom-right">
                   <img :src="capability.image" alt="exhibition" class="img-fluid">
                   <div class="card-body">
                     <p class="card-text smaller"><strong>{{ capability.number }}. </strong>{{ capability.text }} </p>
                   </div>
                 </div>
               </div>
               
              </div>

               <hr>

               

               <p data-aos="zoom-in"><strong>5. </strong>Al convertirse en expositor, puede publicar artículos e información sobre su producto o empresa.</p>
               <p data-aos="zoom-in"><strong>6. </strong>Al convertirse en negociador, puede ver la información del expositor.</p>
               <p data-aos="zoom-in"><strong>7. </strong>Con referencias, puede conseguir tickets adicionales.</p>
               <a href="https://nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">Regístrese ahora</a>
             </div>

           
           </div>

       </section>



       <section class="section07">
           
           <div class="container" id="new-es">
             <h2 class="mb-3">Puede empezar fácilmente con NILE.</h2>
               <div class="row col-xl-10 offset-xl-1 col-lg-12 col-md-12">
                 <div class="col-lg-4 col-md-4 section07-area1" v-for="accomplish in accomplishments">
                   <div class="inner-wrapper">
                     <div class="section07-area2">
                       {{accomplish.task}} 
                   </div>
                   <div class="img">
                       <img :src="accomplish.image" alt="image" class="img-fluid">
                       <div class="img-text">
                           <p>{{accomplish.solution}}</p>
                       </div>
                   </div>
                   </div>
                 </div>
                   
                  
                   
               </div>

               <p class="text-center my-3 small">* Estas son las tareas que intenta resolver este servicio.</p>
           </div>
       </section>
       <section class="section08">
           <div class="container">
             <div class="section08-01">
               <h2 data-aos="fade-right">Con NILE, podrá:</h2>
 
             <ol>
                 <li data-aos="fade-right">Reducir el tiempo y los costes tanto de las exposiciones nacionales como internacionales.</li>
                 <li data-aos="fade-right">Emparejar con empresas de todo el mundo. </li>
                 <li data-aos="fade-right">Utilizar la función de chat para hablar y negociar. Hay stickers exclusivos, por lo que podrá charlar de un modo informal.</li>
                 <li data-aos="fade-right">Negociar sin problemas con países extranjeros, ya que admite varios idiomas (inglés, francés, español, chino y japonés)</li>
                 <li data-aos="fade-right">Publicar muchos artículos, información de productos, información de la empresa a empresas registradas si decide convertirse en expositor.</li>
                 <li data-aos="fade-right">Ver la información del expositor en cualquier momento si decide convertirse en una empresa negociadora.</li>
                 <li data-aos="fade-right">Obtener tickets gratuitos adicionales si presenta este servicio a otras empresas.</li>
             </ol>

             
 
             <div>
                 <a class="btn btn-primary" href="https://nile.inc/users/sign_up?locale=en&pos=seller">Regístrese ahora</a>
             </div>
             </div>
           </div>
       </section>


       <section class="section09">
           <h2 class="text-center">NILE es un servicio de emparejamiento en línea B2B</h2>
           <div class="container">

             <div class="section09-01">
               <div class="row justify-content-center">
                 <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                   <div class="card">
                     
                     <img src="../assets/img/img01.png" alt="Register" class="card-img-top img-fluid">
                     <div class="card-body"><h3 class="card-title">1.<br>Registrarse</h3></div>
                   </div>
                 </div>
                 <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                   <div class="card">
                     
                     <img src="../assets/img/img02.png" alt="Register" class="card-img-top img-fluid">
                     <div class="card-body"><h3 class="card-title">2.<br>Navegar</h3></div>
                   </div>
                 </div>
                 <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                   <div class="card">
                     
                     <img src="../assets/img/img03.png" alt="Register" class="card-img-top img-fluid">
                     <div class="card-body"><h3 class="card-title">3.<br>Ver/Conocer</h3></div>
                   </div>
                 </div>
               </div>
               <div class="row justify-content-center">
                 <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                   <div class="card">
                     
                     <img src="../assets/img/img04.png" alt="Register" class="card-img-top img-fluid">
                     <div class="card-body"><h3 class="card-title">4.<br>Emparejar</h3></div>
                   </div>
                 </div>
                 <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                   <div class="card">
                     
                     <img src="../assets/img/img05.png" alt="Register" class="card-img-top img-fluid">
                     <div class="card-body"><h3 class="card-title">5.<br>Iniciar el chat</h3></div>
                   </div>
                 </div>
               </div>
               <div class="row justify-content-center">
                 <div class="section09-01-01 col-lg-8 col-md-8 col-sm-8 col-8" data-aos="fade-right">
                   <h4 class="display-1"><i><i class="fas fa-caret-down"></i></i></h4>
                   <div class="card success">
                     <img src="../assets/img/img06.png" alt="Register" class="card-img-top img-fluid">
                     <div class="card-body"><h3 class="card-title2 text-uppercase">Éxito</h3></div>
                   </div>
                 </div>
               </div>
             </div>


           </div>
       </section>
       

       <!-- Price -->
       <section class="section11">
           <div class="section11-01 container">
               <div class="row text-center align-items-end">
                   <!-- Pricing Table-->
                   <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                     <div class="bg-white p-5 rounded-lg shadow">
                       <h1 class="text-uppercase font-weight-bold viewer">ESPECTADOR</h1>
                      
             
                       <div class="custom-separator viewer my-4 mx-auto"></div>
             
                       <dl>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Ver</dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Iniciar negociación</del></dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Tickets de negociación</del></dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Sistema de referencia</del></dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Publicar artículos</del></dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Anunciar</del></dd>
                       </dl>
                       <!-- <p>&nbsp;</p> -->
                     </div>
                   </div>
                   <!-- END -->
             
             
                   <!-- Pricing Table-->
                   <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                     <div class="bg-white p-5 rounded-lg shadow">
                       <h1 class="text-uppercase font-weight-bold negotiator">NEGOCIADOR</h1>
                       
             
                       <div class="custom-separator negotiator my-4 mx-auto"></div>
          

                       <dl>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Ver</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Iniciar negociación</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Tickets de negociación</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Sistema de referencia</dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Publicar artículos</del></dd>
                         <dt><i class="fa fa-times mr-2"></i></dt>
                         <dd><del>Anunciar</del></dd>
                       </dl>
                       <!-- <p>&nbsp;</p> -->
                     </div>
                   </div>
                   <!-- END -->
             
             
                   <!-- Pricing Table-->
                   <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                     <div class="bg-white p-5 rounded-lg shadow">
                       <h1 class="text-uppercase font-weight-bold exhibitor">EXPOSITOR</h1>
                       
             
                       <div class="custom-separator exhibitor my-4 mx-auto"></div>


                       <dl>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Ver</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Iniciar negociación</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Tickets de negociación</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Sistema de referencia</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Publicar artículos</dd>
                         <dt><i class="fa fa-check mr-2 blue"></i></dt>
                         <dd>Anunciar</dd>
                       </dl>
                       <!-- <p class="plus">You can use all features with this plan!</p> -->
                     </div>
                   </div>
                   <!-- END -->
             
               </div>


               <!-- Exhibitorだともっとできる -->
               <div class="price-list mt-5 text-center">

                 <div class="row no-gutters g-0">
                   <div class="title-blank col-lg-4 col-md-4 col-sm-4"></div>
                   <div class="title col-lg-4 col-md-4 col-sm-4 col-6">Precio</div>
                   <div class="title col-lg-4 col-md-4 col-sm-4 col-6">Beneficios</div>
                 </div>

                 <div class="row price-list-body g-0 price-list-row">
                   <div class="exhibitor col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Planes para expositores</div></div>
                 </div>

                 <div class="row price-list-body g-0 price-list-row">
                   <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Plan mensual</div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$500</em></div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">10 tickets<br>de negociación gratis<span>*</span></div></div>
                 </div>

                 <div class="row price-list-body g-0 price-list-row">
                   <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Plan de 6 meses</div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$2400</em></div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">30 tickets<br>de negociación gratis <span>*</span></div></div>
                 </div>

                 <div class="row price-list-body g-0 price-list-row">
                   <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">12-Month Plan</div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$3600</em></div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">50 tickets<br>de negociación gratis <span>*</span></div></div>
                 </div>

                 <div class="row price-list-body g-0 price-list-row">
                   <div class="negotiator col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Para negociadores</div></div>
                 </div>

                 <div class="row price-list-body g-0 negotiation-list-row">
                   <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Tickets de negociación (5 hojas)</div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">$5<br><span>$1/hoja</span></div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                 </div>

                 <div class="row price-list-body g-0 negotiation-list-row">
                   <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Tickets de negociación (11 hojas)</div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">$10<br><span>10 hojas + 1 gratis</span></div></div>
                   <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                 </div>
               
               </div>

               <div class="register col-lg-6 col-md-8 col-sm-12">
                 <h5 class="mb-3"><strong><u>¡Podrá utilizar este servicio de forma gratuita hasta el 31 de marzo de 2021 </u></strong></h5>
                 <p class="text-primary">En vigor desde el 1 de septiembre de 2021 hasta el 31 de marzo de 2021</p>
                 <p><u><span>*</span>
                  Podrás recibir las entradas después del período gratuito inicial.</u></p>
                 
                 <a href="https://nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">¡Regístrese ahora!</a>
               </div>
           </div>
       </section>

       <section class="section12">
         <div class="section12-01 container">
           <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
             <ul>
               <li>¡Fácil de usar!</li>
               <li>¡Úselo en cualquier momento y en cualquier lugar!</li>
               <li>¡Todo al alcance de su mano!</li>
             </ul>
             
           </div>
         </div>
       </section>

       <section class="section13">
         <div class="container">
           <h2 class="text-center mb-5">CÓMO REGISTRARSE</h2>
             <div class="row">
               <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                 <div class="txt">
                   <h3>1. SELECCIONE SU ROL</h3>
                   <p class="px-2">Elija entre Espectador/Negociador/Expositor</p>
                 </div>
               </div>
               <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                 <div class="txt">
                   <h3>2. INTRODUCIR EL CORREO ELECTRÓNICO Y CREAR UNA CONTRASEÑA</h3>
                   <h6 class="text-center"><u>Espectador</u></h6>
                   <p>Vista sin verificaciones, pero sin poder utilizar todas las funciones</p>
                   <h6 class="text-center"><u>Negociador/Expositor</u></h6>
                   <p>Introducir información de la empresa</p>
                 </div>
               </div>
               <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                 <div class="txt">
                   <h3>3. CONFIRMACIÓN DE CORREO ELECTRÓNICO</h3>
                   <p class="px-2">Asegúrese de confirmar el correo electrónico.</p>
                 </div>
               </div>
               <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                 <div class="txt">
                   <h3>4. PUBLICACIÓN DE ARTÍCULOS</h3>
                   <p class="px-2">Al confirmar, podrá publicar artículos, productos e información de la empresa.</p>
                 </div>
               </div>
             </div>

             <!-- <p class="text-center mt-5 details"><span><a href="https://if-intense.github.io/nile-help/">Click Here</a> to See More in Details</span></p> -->
             <div class="text-center my-2">
               <a href="https://if-intense.github.io/nile-help/" class="btn btn-warning">Haga clic aquí para ver más en detalle</a>
             </div>
         </div>
       </section>

       <section class="section10">
         <div class="container">
           <h2><span>DETRÁS DEL NOMBRE</span></h2>
           <h3>NILE RIVER (RÍO NILO)<br><span>El río más largo del mundo</span></h3>
            

         <h5>Proporciona la plataforma para establecer emparejamiento empresarial, <span>con la posibilidad de crear negocios duraderos.</span>.</h5>
         </div>

     </section>
   
   
       
   
   </div>

   <footer>
     <div class="container">
     <ul>
       <li><i class="far fa-envelope"></i> CONTACT</li>
       <li>Privacy & Policy</li>
       <li>Terms of Service</li>
       <li><a href="https://nile.inc/"><img src="../assets/img/nile-logo-white.png" alt="NILE" height="14"></a></li>
     </ul>
    <p>© 2021 INVADE Co., Ltd.</p>
     </div>
   </footer>
    
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../assets/js/app.js"></script>
<script>
  AOS.init();
</script>
</html>